[2020-01-03 07:09] ahmedwaleedmalik opened #1 "cp: cannot stat '/wordlist.txt': No such file or directory"
Spell check failed with the following error:

[code]

[2020-01-14 17:51] facelessuser commented on #1
I'm the author of pyspelling. I haven't really used this action, but to be honest, it isn't too difficult to get it working by doing a simple action configuration: https://facelessuser.github.io/pyspelling/#usage-in-ci.

We use pyspelling in GitHub actions in the project itself, we use tox, but you don't have to: https://github.com/facelessuser/pyspelling/blob/master/.github/workflows/build.yml#L3

[2020-01-15 15:42] shahzebsiddiqui opened #2 "issue running spellcheck action"
![image](https://user-images.githubusercontent.com/12942230/72447500-6e5c2f00-3783-11ea-911b-c7bb97ecd06e.png)

My spellchecker action is the following:

[code]

I tried to do spellcheck on push and pr and it failed.  This build can be found at https://github.com/HPC-buildtest/buildtest-framework/commit/9ae66e412c0545977d08c15d0952f62b91d253ee/checks?check_suite_id=402308725

It is looking for a `

[2020-02-14 08:33] chipitsine commented on #1
that is fixed in master, but not yet released https://github.com/rojopolis/spellcheck-github-actions/commit/cad760663bf71dbdcb926a118dd4695b42019d38

@rojopolis , can you tag new release, please ?

[2020-02-14 17:42] Guite opened #3 "how to use for other languages?"
I tried to get this action working several weeks ago but failed because it seems that only English is included. Is there any possibility to tell this action to install for example German support? I guess this would require installing additional packages in the docker file, so probably not easy...

[2020-02-14 17:50] rojopolis commented on #2
I beleive this is fixed in master.  I just pushed a new release 0.3.0 to include the fix.

[2020-02-14 17:50] #2 closed

[2020-02-14 17:51] rojopolis commented on #1
New release is created 0.3.0 @chipitsine thanks for the heads up...  I wasn't getting notified of open issues.

[2020-02-14 17:51] #1 closed

[2020-02-14 17:54] rojopolis commented on #3
Hi @Guite this is really just a small wrapper around the excellent [pyspelling](https://facelessuser.github.io/pyspelling/) package.  If pyspelling supports additional languages, then it would be trivial to add the support to the action.  Feel free to research it and create a pull request here with your proposed changes!

[2020-02-14 18:12] Guite commented on #3
I thought as you are installing `aspell` in your docker file, it would be a matter of installing for example `aspell-de` additionally (or `hunspell-de`).

But I have not really an idea if and how PySpelling would support this. Can't find anything in it's docs about non-english languages.

[2020-02-14 18:14] Guite commented on #3
For clarification: at the end this feature is not really important (as I know how to write correctly). It would just be a nice to have addition for a workflow which deploys a blog site for example, so that typos could be found easier and faster.

[2020-02-14 19:00] chipitsine opened #4 "spellcheck.yaml is not used"
hello,

I defined my own spellcheck.yaml, there are only *.txt pattern

https://github.com/chipitsine/haproxy

however, runner complains it cannot find *.py, I suspect it tries to use its default config

https://github.com/chipitsine/haproxy/runs/446656168?check_suite_focus=true

[2020-02-14 19:02] chipitsine commented on #4
@rojopolis , can you have a look please ?

[2020-02-15 15:25] shahzebsiddiqui commented on #2
ok @rojopolis  i will try the updated version.
Thanks

[2020-02-27 07:55] darrynten commented on #4
@chipitsine I ran into a similar issue.

The `.yml` file in your repo should use the `.yaml` extension (with the `a`) or it is not detected.

[2020-02-27 08:13] chipitsine commented on #4
Thanks, I will try

[2020-02-27 14:04] facelessuser commented on #3
Pyspelling uses whatever dictionary you give it. It is a wrapper around aspell and hunspell. While I only write in English, I can't think of a reason why it wouldn't work for other languages. You could already configure your own action, it isn't too difficult: https://facelessuser.github.io/pyspelling/#usage-in-ci.

[2020-02-27 14:06] Guite commented on #3
Thanks for the pointer.

[2020-02-27 14:06] #3 closed

[2020-02-28 18:25] chipitsine commented on #4
I tried both spellcheck.yml

https://github.com/chipitsine/haproxy/runs/475469193

and spellcheck.yaml

https://github.com/chipitsine/haproxy/runs/475464511

neither works.

@darrynten , can you provide a link to your repo ?

[2020-03-13 14:55] sbates130272 opened #5 "Marketplace still using 0.2.0 which has wordlist.txt issue."
Can you bump the marketplace latest to 0.3.0 so people don't hit the wordlist.txt issue (issue #1) please?

[2020-03-13 15:09] sbates130272 opened #6 "Version 0.3.0 appears to have an issue when no files matching the source targets exist in the repo the action is being applied too?"
See [this][1] for full output.

[code]

See [this output][1].

[1]: https://github.com/Eideticom/p2pmem-pci/pull/5/checks?check_run_id=505951125

[2020-03-13 16:13] sbates130272 commented on #6
Oh so this is because the default spellcheck.yaml used in this repo does not set [expect_match][1] to false. This seems like an odd default to have given, as a GitHub action, you have no idea what is in the parent repo?

[1]: https://facelessuser.github.io/pyspelling/configuration/#expect-match

[2020-04-06 09:45] tomlankhorst opened #9 "Push image to Docker Hub or GitHub Packages"
The image is built on every run.
The process could be sped up significantly by pushing the Dockerfile to Docker Hub (for automatic building) or GitHub packages and then use it from there.

Do you consider this an option?

[2020-04-06 15:19] jonasbn commented on #9
It is quite slow

[2020-04-20 01:08] edumco opened #10 "Action fails: FileNotFoundError: [Errno 2] No such file or directory: 'wordlist.txt'"
Fail to check project: https://github.com/edumco/Algorithms-Explanation

Log attached: [logs_1.zip](https://github.com/rojopolis/spellcheck-github-actions/files/4500690/logs_1.zip)

[2020-04-21 20:56] M1ke commented on #10
I get the same issue as this.

[2020-05-12 03:22] mrbusche commented on #10
I was able to get this working in this commit https://github.com/mrbusche/recipesapp/commit/5d55373c23c6e2ff1eeb980bb908424fb7de7828 You need spellcheck.yaml and an empty wordlist.txt in the root to make it work.

[2020-05-12 04:16] edumco commented on #10
Still not working **:(**

repo: https://github.com/edumco/Algorithms-Explanation/tree/spellcheck

[code]

[2020-05-13 02:10] mrbusche commented on #10
Ha, actually turns out the working example I found on Github was using `UnicornGlobal/spellcheck-github-actions@master` oops!

[2020-05-13 02:41] edumco commented on #10
So how can I help fix this?

[2020-05-15 18:58] codygreen commented on #4
I'm seeing the same issue. @chipitsine, did you find a solution or just stoped using the action?

[2020-05-15 19:01] chipitsine commented on #4
I ended with codespell

https://github.com/haproxy/haproxy/blob/master/.github/workflows/codespell.yml

[2020-05-15 19:15] facelessuser commented on #4
There are a number of options out there, but this is built one is built on pyspelling and doesn't have to be done with this action. You can easily configure it yourself in GitHub actions: https://facelessuser.github.io/pyspelling/#usage-in-ci. You would also configure your own `.pyspelling.yml` as well.

[2020-05-20 15:30] jonasbn commented on #5
I cannot push release 0.3.0 to the Marketplace it might have to be the repository owner. I have contacted GitHub for clarification, since this is not detailed in the documentation

[2020-05-21 11:46] jonasbn commented on #6
Hi @sbates130272

I ran into this too, the updated documentation now has a diagnostics section describing this. I have added a more limited default configuration, aimed at Markdown since most repositories might contain a `README.md` or similar. I hope this limits the error triggering scenarios.

I will keep this issue open, while I am evaluating your findings in regard to `expect_match`, but I am

[2020-05-21 11:50] jonasbn commented on #10
Hi @edumco

I have added a diagnostics section to the documentation, I hope it explains the remedy better.

I have made a first shot at a fix introducing the induction of an empty `wordlist` file matching the default configuration. But I am not satisfied with the solution, since I do not like the idea of inducing files like this.

Please let me know if you have any ideas or evaluate the documentat

[2020-05-21 11:55] jonasbn commented on #4
I am working on a release 0.4.0 introducing a limited default configuration, aiming only at Markdown since this more certain to work out of the box for most repositories and not giving non-python repositories initial headaches.

The release also introduces support for `yml` in addition to `yaml`.

Please refer to the updated documentation for details for now, I am attempting to work out how to get

[2020-05-28 21:47] jonasbn commented on #5
Please see [the response to my question to the support forum](https://github.community/t/who-can-publish-an-action-to-the-marketplace/115602/3).

I suspect that the requirements for publishing and action was changed over time and 0.3.0 did not meet these requirements, when lacking an `action.yml` file.

The file has been added to release 0.4.0, which has been published to the Marketplace.

Please

[2020-05-28 21:47] #5 closed

[2020-05-28 21:50] jonasbn commented on #4
Hello,

0.4.0 has just been uploaded to the GitHub Market place. Please let me know if you experience any issues in regard to this or any other issues with 0.4.0 for that matter.

Take care and stay safe,

jonasbn

[2020-05-28 21:50] #4 closed

[2020-05-28 21:55] jonasbn commented on #9
Hi @tomlankhorst

I have just release 0.4.0 to GitHub Marketplace. Next up is addressing this particular issue.

[2020-05-28 21:58] jonasbn commented on #10
Release 0.4.0, with the solution described above included, has just been published to the GitHub Marketplace.

I am closing this issue for now. I hope a better solution will present itself as I get more hands on with the problem area and the code for this action.

[2020-05-28 21:58] #10 closed

[2020-05-29 00:06] edumco commented on #9
The image itself could be improved for performance, build time and download time by:

- Using a smaller image (alpine)

- Using a `.dockerignore` (docker copies all files in the repo even if you don't use)

[2020-05-31 22:00] jonasbn commented on #9
Hi @tomlankhorst and @edumco

I have pushed a "jonasbn/github-action-spellcheck:0.5.0" [to DockerHub](https://hub.docker.com/r/jonasbn/github-action-spellcheck).

Would any of you be interested in reviewing it, the code is available in PR: #12

I have labelled the Docker image 0.5.0 since I expect it to be a part of the 0.5.0 release of the action, it is however also available as: "jonasbn/github-

[2020-05-31 22:07] jonasbn commented on #9
@edumco please see my comment in PR #12 on Alpine. I am not giving up on _slimming_ down the image even further, but I am not so familiar with Alpine, so it will take some time to get into possibly addressing the issues observed with the XML and XSLT dependencies, which demonstrate issues when building on Alpine.

[2020-06-01 02:12] edumco commented on #9
The suggestions I made dont need to happen all together. Alpine is a little tricky. In some cases makes the dockerfile more complex. I will look the PR :dancers:

[2020-06-04 20:21] jonasbn opened #13 "Investigate migration to Alpine over Debian"
This issue was spun of the below list.

This issue is aimed at addressing the migration to Alpine from Debian in the Docker image.

Hi @edumco

Thanks for the elaborate feedback. I have compiled your comments to this list:

_<snip>_

- [ ] Evaluate option for using Alpine based Python image

_<snip>_

_Originally posted by @jonasbn in https://github.com/rojopolis/spellcheck-github-actions/pull/12#

[2020-06-04 20:35] jonasbn opened #14 "Investigate possibility of suppressing HTML tags in output"
Hi @edumco

Thanks for the elaborate feedback. I have compiled your comments to this list:

_<snip>_

- [ ] Investigate possibility to suppress HTML output from **PySpelling**

_<snip>_

_Originally posted by @jonasbn in https://github.com/rojopolis/spellcheck-github-actions/pull/12#issuecomment-636716234_

[2020-06-04 20:38] jonasbn opened #15 "Investigate possible issue with error count PySpelling"
Hi @edumco

Thanks for the elaborate feedback. I have compiled your comments to this list:

_<snip>_

- [ ] Investigate possible issue with error count **PySpelling**

_<snip>_

_Originally posted by @jonasbn in https://github.com/rojopolis/spellcheck-github-actions/pull/12#issuecomment-636716234_

[2020-06-04 20:39] jonasbn opened #16 "Evaluate wordlist detection enhancement"
Hi @edumco

Thanks for the elaborate feedback. I have compiled your comments to this list:

_<snip>_

- [ ] Evaluate wordlist detection enhancement

_<snip>_

_Originally posted by @jonasbn in https://github.com/rojopolis/spellcheck-github-actions/pull/12#issuecomment-636716234_

[2020-06-04 20:42] jonasbn commented on #13
Comments lifted from #12

Just use the --no-cache and the apk will be found download and installed without touching the cache.

Ex: `apk add --no-cache package`
### 3) Temporary package installation

Sometimes we just gonna use a package during build or installation (gcc) so there are 2 approachs:

    * Create a multistage build: Great but more complex

    * Install, use and uninstall on the sam

[2020-06-04 21:12] facelessuser commented on #15
Pyspelling doesn't output error count: https://github.com/facelessuser/pyspelling/blob/master/pyspelling/__main__.py#L75.

That is just the exit code, which is simply 1 if there was a failure and 0 if there was no failure. It's just a boolean pass or fail currently. Failure for spelling, failure to read file, doesn't matter, the exit code is 1.

[2020-06-04 21:15] facelessuser commented on #15
Source is of mistaken count is here, and we see it is in fact just referencing the exit code, not a real count: https://github.com/rojopolis/spellcheck-github-actions/blob/master/entrypoint.sh#L38.

I think people assume the `(1)` means number of files, when it doesn't. I would just remove the error code as the message itself indicates pass or fail.

[2020-06-04 21:27] facelessuser commented on #14
There is not currently a way to silence a specific filter's context (which is what the HTML tag info is). Currently, each filter just appends context for each block it returns. It is possible that a feature request could be made over on PySpelling to allow for this to be controlled on each filter if desired. If you are working directly off an HTML file, it can be useful, but I agree it is less use

[2020-06-05 06:40] jonasbn commented on #15
Hi @facelessuser

I see the reason for the misunderstanding and the error code was mostly included for myself when I restructured the entry point.

They do not have significant value since they can be obtained by querying the shell, since they are still emitted, I agree that they can go

[2020-06-05 06:57] #15 closed

[2020-06-05 08:08] #9 closed

[2020-06-05 09:39] jonasbn commented on #14
Hi @facelessuser

I am leaning towards dismissing this issue under `wont fix`, but would you agree that reporting the issue with [PySpelling](https://facelessuser.github.io/pyspelling/) would be a good idea?

[2020-06-05 12:42] facelessuser commented on #14
If you would like me to follow up with it, that'd be the place. If you don't really care, then probably not :slightly_smiling_face: .

[2020-06-07 04:29] edumco opened #19 "Silent mode"
Would be nice to have a silent mode so it doesn't break CI for some files or branches

We could have an breaking action for PR and a silent for the branches

What do you think about it?

[2020-06-30 02:06] albertvolkman opened #20 "Failing to build"
When attempting to run this, I get the following error-
[code]

https://github.com/EsteemedIO/esteemedio.github.io/runs/820756861

[2020-06-30 05:39] jonasbn commented on #20
Hello @albertvolkman

The build you demonstrate is based on: [UnicornGlobal/spellcheck-github-actions](https://github.com/UnicornGlobal/spellcheck-github-actions) and not the action provided by this repository.

You need to report your issue with [UnicornGlobal/spellcheck-github-actions](https://github.com/UnicornGlobal/spellcheck-github-actions), the fork seems to have diverged from this reposito

[2020-06-30 10:44] albertvolkman commented on #20
My apologies! Thank you.

[2020-06-30 13:19] albertvolkman commented on #20
I switched it to your branch, and it's now building the image properly, but I'm getting an error about it not loading the pyspelling config-

https://github.com/EsteemedIO/esteemedio.github.io/runs/822528309?

I'm following the default example provided-

https://github.com/EsteemedIO/esteemedio.github.io/blob/master/spellcheck.yaml

[2020-06-30 18:14] jonasbn commented on #20
Hi @albertvolkman

I have added [a PR to your project](https://github.com/EsteemedIO/esteemedio.github.io/pull/24), which addresses the issue you observe.

The issue is that your workflow does not checkout the repository to work on, so I have added that.

I can see this is not clear from the documentation for the action, I will clarify this.

Thanks for your bug report, let me know if you have any

[2020-06-30 18:14] #20 closed

[2020-09-26 14:36] jonasbn commented on #19
@edumco sounds like a good idea. Hacktoberfest is coming up, perhaps we good look into it there

[2020-10-16 15:39] MarekLani opened #24 "Ignore spell check in hyperlinks"
Please is there a way how to ignore spell check of hyperlinks?
[link text](this_should_be_ignored)

[2020-10-18 09:46] jonasbn commented on #24
Meaning you want to check the spelling of the "link text", but not the actual URL?

[2020-10-18 10:25] jonasbn commented on #24
Hi @MarekLani

I did a test, running `pyspelling` manually on a HTML file, this does not report any spelling errors for the HTML part, only the text part.

[code]

HTML file:

[code]

Using the configuration outlined here:

[code]

Could you please provide me with a copy of you configuration file?

[2020-10-19 18:34] MarekLani commented on #24
@jonasbn thank you for response and sorry I should have stated, that this is present in md check. I meant following:
`[Link text to be checked](link_address_should_not_be_checked)`

This is my config:

[code]

[2020-10-19 19:16] jonasbn commented on #24
Hi @MarekLani

I have tested against this example file using your provided config:

[code]

[code]

The link text is checked, not the URL part.

Could you possibly provide me with more data on what you observe, since I cannot reproduce what you request.

Do note that `pyspelling` converts Markdown to HTML before doing the check, hence the HTML output pointing to DOM values.

From the example above

[2020-10-24 17:36] jonasbn commented on #24
Hi @MarekLani

I have responded to your question and I have demonstrated use of the software and it's expected behaviour, so I am closing this issue.

[2020-10-24 17:36] #24 closed

[2020-10-31 14:53] jonasbn commented on #19
Hi @edumco

I have been thinking about this and got to a point where I got stuck on your _silent mode_ request.

1. First I was thinking, you just wanted it to run, but not log anything, which is doable.
2. Then I learned the other day that  you can target your workflows to specific branches [See GitHub Actions documentation](https://docs.github.com/en/free-pro-team@latest/actions/reference/workfl

[2020-12-10 00:08] strongishllama opened #26 "Exclude directory from spell checker"
It would be great if we could exclude a directory from the spell checker. I've tried using the PySpelling [configuration](https://facelessuser.github.io/pyspelling/configuration/) to do this, but it doesn't seem to work.

Thanks!

[2020-12-10 00:18] facelessuser commented on #26
What have you tried? I'm the author of pyspelling, and that is usually the way to exclude directories.

[2020-12-10 00:26] strongishllama commented on #26
This is what my .spellcheck.yml file looks like. I'm trying to ignore the assets directory.
[code]

[2020-12-10 02:40] facelessuser commented on #26
I guess you'll have to provide some example paths. I use similar logic in some of my own projects which works just fine: https://github.com/facelessuser/Rummage/blob/master/.pyspelling.yml#L82.

I'm also the author of the glob library that pyspelling uses (https://github.com/facelessuser/wcmatch), so if you can give some example paths, I can probably explain why it isn't working as expected. If I

[2020-12-10 03:45] strongishllama commented on #26
That was it!! Thanks a lot for your help :+1:

[2020-12-10 03:45] #26 closed

[2021-01-08 01:07] rfay opened #28 "markdown: 'NoneType' object has no attribute 'end'"
I'm just trying to do simple spellchecking, but I get an incomprehensible error that stops that whole thing... after I worked and worked to get a wordlist together:

[code]

You can see the run at https://github.com/drud/ddev/runs/1666052073?check_suite_focus=true

The code is all at https://github.com/rfay/ddev/tree/20210107_spellcheck

The file it's crashing on is https://github.com/rfay/ddev/bl

[2021-01-08 01:36] facelessuser commented on #28
You would need to provide more verbose information if you suspect PySpelling (I am the author of that library) and probably file the issue over at that repository.

With that said, you should also be mindful that Markdown parsing is currently done by Python Markdown. I would suspect that the issue may be there. I see some things, such as fenced code blocks, that are not supported in Python Markdow

[2021-01-08 01:57] facelessuser commented on #28
I added the `pymdown-extensions` module locally and ran pyspelling directly after modifying your config as shown below:

[code]

This is the output I got, which seems fine:

[code]

[2021-01-08 02:22] facelessuser commented on #28
Just an FYI, you can always run PySpelling in debug mode to get better errors. This is how I got the original error context.

[code]

We can see this failure is in Python Markdown's HTML parser. They recently rewrote their HTML parser, so I imagine there is some edge case being triggered by some of the fenced blocks when not treated as fenced blocks.

[2021-01-08 04:33] rfay commented on #28
Well thank you! I'll try it again.

I'm afraid debug mode wouldn't have helped me at all not knowing the code and not spending any time in Python.

[2021-01-08 04:45] facelessuser commented on #28
No worries, I imagine that is what draws a number of people to this action. I don't use the action, but I do watch this action's issues to try and look out for issues in PySpelling or answer questions that I'm probably most likely to have the answer for.

[2021-01-08 04:45] rfay commented on #28
There must be something more that I'm missing. Do I have to install pymdownx somehow? How do I do that?

https://github.com/drud/ddev/runs/1666749830?check_suite_focus=true

[2021-01-08 05:17] facelessuser commented on #28
Hmm, I'm assuming this action is using a docker image. So it is probably not included by default. The author of this action may be able to answer that part or maybe add it to the image by default, but maybe you can get away with using `markdown.extensions.fenced_code`. It doesn't allow nesting code blocks in lists and such (and actually recommends you to use SuperFences if you want that), but it d

[2021-01-08 13:50] rfay commented on #28
Thank you @facelessuser. Glad you know so much about Python and markdown. I guess this action isn't currently going to be useful.

[2021-01-08 14:03] facelessuser commented on #28
@rfay, while I may not be familiar with this action, it isn't difficult to set up pyspelling in Github Actions manually (which is what I do): https://facelessuser.github.io/pyspelling/#usage-in-ci. I can easily answer the question on this approach. If you go down this route and need some guidance, feel free to hit up https://github.com/facelessuser/pyspelling/discussions.

[2021-01-08 16:28] jonasbn commented on #28
hi @facelessuser and @rfay

Yes, this action uses a Docker image, do you have suggestion to improvements/extensions to this?

[2021-01-08 16:37] facelessuser commented on #28
@jonasbn, I think adding pymdown-extensions may not be a bad idea. Not everything in that package is a necessity, but with that said, SuperFences, which Python Markdown recommends in their `fenced_code` documentation, is pretty useful for more properly parsing fenced code in Markdown. While I don't directly use this action as I am comfortable setting things up manually myself, I think it is a very

[2021-01-08 16:38] jonasbn commented on #28
AFAICT we need the Docker image to include *Python-Markdown*, ref: https://python-markdown.github.io/

And this can be done using:

[code]

So my question is, how do I install extensions for *Python-Markdown* ?

[2021-01-08 16:39] jonasbn commented on #28
I am not a Python developer myself, I am just a *user*

[2021-01-08 16:41] jonasbn commented on #28
Ah found [the documentation](https://facelessuser.github.io/pymdown-extensions/installation/):

[code]

[2021-01-08 17:04] facelessuser commented on #28
Yup, that's it.

[2021-01-08 17:20] #28 closed

[2021-01-08 17:35] jonasbn commented on #28
@rfay please try out the latest release 0.8.0 and let me know if you experience any issues.

Thanks for the help @facelessuser

[2021-01-08 18:31] rfay commented on #28
Yay, it worked great. Thanks to both of you for the extraordinary support.
https://github.com/drud/ddev/runs/1670405909?check_suite_focus=true

One additional suggestion @jonasbn - I think you could add markdownfences as suggested configuration, and maybe put more in the markdown section of your examples or instructions. I'm a user of markdown, but of course like most users I have no idea about th

[2021-01-08 18:44] jonasbn commented on #28
@rfay you are right, the option should be more elaborately documented.

Glad it worked, have a nice weekend

[2021-01-09 11:22] jonasbn opened #30 "Document ability to extend the Markdown parsing"
Resources:

- https://python-markdown.github.io/
- https://facelessuser.github.io/pymdown-extensions/#overview

Release 0.8.0 support the above extensions, this has to be properly documented, ref: #28

[2021-01-15 13:14] vybhav72954 opened #33 "Ability to run only on files modified in a PR."
Even though am using:

[code]

The action still runs on the Whole Codebase.

This makes action really slow for a huge Repository, it would be great if we can only check files modified in a PR.

[2021-01-15 15:58] facelessuser commented on #33
What do you mean it runs on the whole code base? You have it specified to run on only pull_request. Are you saying it is running on pushes to master? If so, that doesn't make sense unless there is more in your config that you aren't showing.

[2021-01-15 21:45] vybhav72954 commented on #33
I will post my config file
yml file and screenshot here 😄

[2021-01-15 21:49] vybhav72954 commented on #33
my workflow file-
![error1](https://user-images.githubusercontent.com/49750343/104781845-3a0dbb00-57a9-11eb-848c-5b46fa121cfa.PNG)

My Conifg File
[code]

The Action going through whole codebase

![error](https://user-images.githubusercontent.com/49750343/104781947-704b3a80-57a9-11eb-8dd5-728bb37833dd.PNG)

Is the
[code]
causing this? (In the config file)

[2021-01-15 22:33] facelessuser commented on #33
I'm still confused. It looks like it is going through your Markdown files as you specified.

I still don't know what you mean by going through your while codebase. It looks like it is doing exactly what you are telling it to do. If not, you'll have to be more clear.

[2021-01-16 05:12] vybhav72954 commented on #33
Yes, it is going through all the Markdown Files in my whole Repo!!!

My point is, is it possible, that it runs on only those `md` files, which are edited or modified in a PR only.

Just as example

![tb](https://user-images.githubusercontent.com/49750343/104797831-3bf66f00-57e7-11eb-8336-eb5a3d0467a1.PNG)

You can see that I only have 1 `md` file in this PR, but the action running on **all the `md

[2021-01-16 05:14] vybhav72954 commented on #33
Linked PR -
HarshCasper/Rotten-Scripts#698

[2021-01-16 05:25] facelessuser commented on #33
PySpelling does not check git status of files. I guess you could come up with an elaborate system that gathers git status of files and generates or modifies a pyspelling config to target only the files in the pull request.

It's possible it could be added as a feature in PySpelling at some point. I'm not promising such a feature, just mentioning that it **might** be a possibility. What I don't wan

[2021-01-16 05:50] vybhav72954 commented on #33
I understand your point. So as of now, I believe that one such functionality is not a part of the project.

I can definitely come up with ideas to implement this. You can certainly close the issue now, if I will come up with something I might as well open a PR.

[2021-01-16 05:59] facelessuser commented on #33
Well, this repository is the GitHub action. I do not maintain this repository. It is mainly a wrapper around PySpelling (which I do maintain). If I were to integrate such functionality it would be there: https://github.com/facelessuser/pyspelling. I assume there would be some kind of hook to filter out files that were captured by the source pattern. If I did this, maybe people could use a plugin t

[2021-01-24 13:52] miff2000 commented on #33
I'm actually working on getting this added @vybhav72954. I have the same use case as you. Currently, this GitHub Action uses the sources specified in the `pyspelling.yaml` file (or `config_path` override passed into the Action). This means your `sources:` section would need to have a list of the changes files in your PR, which is a pain to achieve.

I'm putting together a PR to allow you to provid

[2021-01-24 14:03] vybhav72954 commented on #33
[code]

I use something like this to detect changed files in a PR in one of my Repos. (For Python here)

[2021-01-24 14:20] miff2000 commented on #33
Nice, so that pretty much covers it all off, once my is approved, I think?
* https://github.com/rojopolis/spellcheck-github-actions/pull/34

[2021-01-24 15:41] vybhav72954 commented on #33
Seems like it, but it still depends on the Owner, whether he wants to incorporate another action or hard code it himself, but for now I believe your PR can solve this issue. Will test run once then update

[2021-01-25 18:09] #30 closed

[2021-01-30 16:54] SebastianZug opened #35 "Foreign languages"
Hi rojopolis,

thanks for the cool implementation, very helpful to monitor a project! If I want to use another language, do I need to install the dictionary separately beforehand? A test for

[code]

failed with

[code]

Many thanks!

Sebastian

[2021-01-30 17:46] facelessuser commented on #35
Just an FYI, you probably want to use `d: de_DE` under Aspell. This is something I didn't fully understand when I first wrote pyspelling (the library under this action).

You have data files, for instance `en.dat`. These you can specify with `lang: en`. But when I want a variant of English, like `en_US`, I really need to use `d: en_US`.

[code]

So it is possible you need to specify:

[code]

PySp

[2021-01-31 04:30] facelessuser commented on #35
Another thing I should add is that you may need to normalize Unicode content. I investigated here this very thing when I was asked about Czech, and it became clear to properly spellcheck and ignore words, the content fed to Aspell needed to be normalized. This can be done with existing PySpelling filters. More info can be found here: https://github.com/facelessuser/pyspelling/issues/134#issuecomme

[2021-01-31 09:28] SebastianZug commented on #35
Dear @facelessuser,

thanks for the fast response and your hints! I changed my config file according to the proposed format, but it fails again due to the fact, that the docker file does not include the corresponding dictionaries.

https://github.com/rojopolis/spellcheck-github-actions/blob/8b4229b661caddca553f2ca3a3874f55ea88fa90/Dockerfile#L11-L13

I guess it is not necessary to install "all" di

[2021-01-31 15:07] facelessuser commented on #35
@SebastianZug I am only the author of PySpelling, and mainly offer support for that portion of this action. I do not actually use this action and often just manually set up the action myself. @jonasbn can maybe answer your questions on how to get additional dictionaries into the image. Hopefully, there is an easy solution.

I mainly follow this repository to help people who are having issues with

[2021-01-31 15:10] jonasbn commented on #35
hi @SebastianZug

I will look into to it shortly and get back to you. I was working on something else, so I was not able to jump into the discussion earlier

[2021-01-31 15:44] jonasbn commented on #35
@SebastianZug I am not aware of any way to dynamically install extra components into the Docker image. The main reason for having the action relying on a pre-built Docker image is time, it that rebuilding the Docker image on every run was not an effective approach in the long run.

The DockerHub image was introduced with release [0.5.0](https://github.com/rojopolis/spellcheck-github-actions/releas

[2021-01-31 15:59] SebastianZug commented on #35
I see the point. The integration of many languages would increase loading time. Hence, its more efficient to install the specific `aspell-x` package afterwards. Can I sent an `apt install aspell-x` to the started docker instance?

[2021-01-31 19:41] jonasbn commented on #35
Hi @SebastianZug

I do not believe it would be possible to do what your suggest, but I would have to research some more.

I added all the `aspell` dictionaries I could locate.

[code]

`aspell-en` already being present.

This increased the size of the Docker image significantly (395 MB):

[code]

As stated previously I do not mind the longer build time, as long as it does not increase the run time

[2021-02-18 17:02] Maniacxxx opened #37 "Error: Unable to find or load pyspelling configuration from spellcheck.yaml"
![image](https://user-images.githubusercontent.com/52683414/108392803-0b886300-71e1-11eb-95bf-6d9b3c667425.png)

[2021-02-18 19:11] jonasbn commented on #37
Hi @Maniacxxx

Can you post your `spellcheck.yaml` and link to repository if it is public

[2021-02-19 08:09] jonasbn commented on #35
Hi @SebastianZug

Finally got around to releasing 0.11.0, which includes support for German dictionaries. Let me know if you run into any issue. The support for german is experimental for now, since I am unsure of the implementation is the right approach, but for now it will work - if any changes are being implemented, I will do my best to continue support for german spell checking.

[2021-02-19 08:09] #35 closed

[2021-02-19 08:18] jonasbn commented on #37
Hi @Maniacxxx

The error indicated by your screenshot points to an already documented diagnostic.

### Diagnostic text: `ValueError: Unable to find or load pyspelling configuration from`

This diagnostic indicates that the configuration file pointed to with the `--config` (`-c`) parameter cannot be located.

1. Check that a file with the indicated name exists.

`ValueError: Unable to find or load

[2021-02-19 08:18] #37 closed

[2021-03-21 11:39] aSemy commented on #13
Hi there, maybe a bit of a weird comment but I saw the discussion here about slimming down Docker images and I wanted to give it a go, as a learning experience. I'm not an expert at all, but here's how I think a multi-stage spellcheck Docker image could look.

I also used some of the new Docker features, like using `COPY --chmod` to combine setting permissions with the copying.

Massive disclaimer

[2021-03-25 16:01] edumco commented on #13
Hi @aSemy this idea of creating a Build ARG to target the build on specific languages is great.

This thread has been closed but we could create a pull request with this suggestion so we could discuss this in a less polluted thread.

What do you think?

[2021-03-25 16:05] edumco commented on #19
@jonasbn Im sorry i loose track on my github account (2020 was hard)

I realized that what I was suggesting fits on the second category: Make documentation more clear about where it should break the pipeline

[2021-03-25 16:14] edumco commented on #33
This is closed #34

[2021-03-25 16:16] edumco commented on #14
By the comments I believe this issue should be closed. Right?

[2021-03-26 10:41] aSemy commented on #13
Done. Thanks for the support!

[2021-03-28 11:54] jonasbn commented on #13
What you came up with sounds like it is along the line of a good solution, will review the proposal (PR)

[2021-03-28 11:56] jonasbn commented on #14
I actually do HTML suppression, when running locally, I will see if I can _move_ this into the action in a non-intrusive implementation, so let's keep this open a bit

[2021-03-28 20:07] #33 closed

[2021-05-03 13:24] tomkerkhove opened #44 "Ignore casing issues"
Is it possible to define a word once in the word list, and allow all casings for it?

[2021-05-03 13:47] facelessuser commented on #44
If you are using Aspell, you can use the `ignore-case` spell checker option: https://facelessuser.github.io/pyspelling/configuration/#spell-checker-options.

You would just specify the boolean:

[code]

Basically, such behavior is controlled by the spellchecker. You either specify multiple casings in your word list, or you turn off casing altogether.

Each spell checker has different options and s

[2021-05-04 06:01] tomkerkhove commented on #44
Perfect, thank you - I've missed that one!

[2021-05-04 06:01] #44 closed

[2021-05-04 18:14] jonasbn opened #45 "Enabling discussions"
Ping @rojopolis

Could you enable discussions for this repository? it should be pretty easy, I just do not have the privileges to set it up.

There is a guide here: https://docs.github.com/en/discussions/quickstart#enabling-github-discussions-on-your-repository

[2021-05-04 23:59] rojopolis commented on #45
Sure, no problem... Done.

[2021-05-04 23:59] #45 closed

[2021-05-19 20:30] jonasbn commented on #44
I have added this as a tip to the newly added Tips section in the documentation, thanks @facelessuser

[2021-07-04 21:35] edumco commented on #19
I'm closing this issue cause now I believe the documentation already covers it

[2021-07-04 21:35] #19 closed

[2021-07-08 14:09] rishitc commented on #24
I'm not sure if the issue is still presenting for the original author, but I ran into this very issue some time ago and the configuration file discussed here where the HTML filter (with some configurations) is used after the markdown filter, completely solved the issue for me :+1:

[2021-07-08 14:16] facelessuser commented on #24
Yes, to avoid `<a>` tags, you would use the HTML filter. The Markdown filter is just used to convert Markdown to HTML. If you need to avoid URL in plain text, the URL filter can help with that.

[2021-08-04 14:34] supernovae opened #53 "Ignore markdown regions with code hints"
Is it possible to tell spellcheck to ignore the markdown hinted areas for language?

For example, if I have

\```bash
kubectl get nodes
\```

Can it just not spellcheck that bash statement?  I have lots of awscli or kubectl or curl commands and right now that means 800+ misspelled words

[2021-08-04 15:10] facelessuser commented on #53
Are you spell checking raw Markdown or are you converting it to HTML and then checking the HTML?

Often, I convert Markdown to HTML and then use CSS selectors to ignore code blocks and such. It is often easier for me to filter things in HTML. That is my general recommendation, but there are potentially other ways. PySpelling, which is used to filter the content, has a Markdown filter which basical

[2021-08-04 20:11] supernovae commented on #53
Thanks for the quick reply!

I'm just diving into this extension and trying to get it to work - my repo is here: https://github.com/supernovae/documentation and the config is here: https://github.com/supernovae/documentation/blob/main/.github/config/.spellcheck.yml

I noticed when the action is run, all of the code looks like its in <li> HTML  - poking around to see what I can do... basically just

[2021-08-04 20:35] facelessuser commented on #53
@supernovae Okay, so a couple of things. I checked out the repo you pointed me at and attempted to run PySpelling. Now, just as an FYI, while I do follow this repo because it relies on PySpelling, I do not actually use this action. As I am very familiar with Python, I set up my own action directly using Python in my CI environments, I also am used to testing it locally as I am also the author of P

[2021-08-04 20:37] facelessuser commented on #53
So, that is how to fix your issue with PySpelling. Why is the action not straight-up failing with the malformed YAML? That I do not know and maybe something that this action repo may need to look into.

I assume that fixing the config will fix your issue, but I have not run your repo through the action in this repo.

[2021-08-04 20:49] facelessuser commented on #53
Let me rephrase, I'm not seeing any misspellings in HTML code blocks. I see that you have not enabled any fenced code extensions, so give me a minute.

[2021-08-04 20:55] facelessuser commented on #53
It must be converting the fenced code block into inline code blocks as you have no fenced extension enabled. But since inline code is ignored as well, it works just fine, so 🤷🏻 .

[2021-08-04 23:39] supernovae commented on #53
I fixed the YAML formatting and 0'd out the wordlist and now I'm back up to 6000+ lines of output on spell-check.  I had a fairly large wordlist in my branch I shared, if you 0 out the .github/config/.wordlist.txt you may replicate the output.

![image](https://user-images.githubusercontent.com/1461719/128269022-66d37021-5cd3-495c-a139-43c77ccb3d40.png)

[2021-08-04 23:40] supernovae commented on #53
The majority of the words failing are in a markdown ````code` block

[2021-08-05 04:01] facelessuser commented on #53
@supernovae Okay, there are a couple of things here. I zeroed out the wordlist, just as you said you were doing. I found no actual actual `pre` block getting spell checked.

Now, I do not think I am running what you are running as your results mentioned `docs/aro/clf-to-zure/README.md` which is not found on the master branch of the repo you pointed me at, so I cannot test exactly what you are. Thi

[2021-08-07 04:29] facelessuser commented on #53
Reporting bug has been fixed and deployed

[2021-08-11 19:24] facelessuser commented on #53
So, it's been about a week. I figure you've solved this as I haven't seen any new info to help debug this further. I know this action is still using an older PySpelling, so once updated, it shouldn't see the wrong context for HTML elements.

[2021-08-12 17:18] jonasbn commented on #13
@edumco done!

It will be included in release 0.15.0, which is currently shaping up

[2021-08-12 17:18] #13 closed

[2021-08-12 17:19] jonasbn commented on #53
This is planned to be included in the upcoming 0.15.0 release.

[2021-08-13 01:06] byronmiller commented on #53
Thanks for the updates! Sorry, been busy with work. I look forward to trying this out and again, I really appreciate your help here!

[2021-08-13 12:57] facelessuser commented on #53
@byronmiller No worries. I was just following up to make sure there are no known bugs in PySpelling. These issues stay fresh in my mind for maybe a week (especially when they are filed on 3rd party repositories), then I'll forget about them unless I am pinged again 🙃. So, take your time.

Hopefully, when you get back to this, the issue turns out to just be a config use issue. I've fixed the only i

[2021-08-15 10:34] jonasbn commented on #53
Version 0.15.0 has just been uploaded to the marketplace

[2021-08-15 10:34] #53 closed

[2021-08-15 11:07] jonasbn opened #55 "aspell disappears from build doing multi-stage build introduced in 0.15.0"

[2021-08-15 11:13] #55 closed

[2021-08-15 11:21] jonasbn commented on #53
Hi @supernovae

I experienced a weird issue with release 0.15.0, so I mad a _hotfix_ to patch the issue, so you should have a look at release 0.16.0 instead,

[2021-08-15 17:15] jonasbn opened #57 "Multi-stage build of Docker image has issues with aspell installation"
Currently this is patched via PR [#56](https://github.com/rojopolis/spellcheck-github-actions/pull/56) addressing issue [#55](https://github.com/rojopolis/spellcheck-github-actions/issues/55).

But the problem is still there and something in the multi-stage build does not work as expected.

[2021-08-15 17:26] #6 closed

[2021-08-15 17:29] jonasbn commented on #6
I added some more details to the mentioned section of the documentation.

[2021-08-16 21:23] Sid-ah opened #60 "ValueError: Pipline step in unexpected format: {'pyspelling.filters.html': None, 'comments': False, 'ignores': ['code', 'pre']}"
I tried to follow the example below, but I'm getting some errors.

[code]

Here is the error I'm getting:

[code]
I was able to resolve it by removing the pipeline step. Is this a known issue? This is a recent issue as I have used this action for some time now.

[2021-08-16 21:57] facelessuser commented on #60
@Sid-ah This is really an upstream [PySpelling](https://github.com/facelessuser/pyspelling) question. I imagine your issue is that you need to indent `comments` and `ignores` more.

The short of it is that YAML can be finicky about indentation in these cases. Options keys need to be nested under the filter name key, not at the same level as the filter name. It thinks you have a multi-key dictionar

[2021-08-17 15:39] Sid-ah commented on #60
Thank you @facelessuser! Fixing the indentation did the trick for me.

[2021-08-17 15:39] #60 closed

[2021-08-17 15:41] facelessuser commented on #60
No problem, glad I could help 🙂 .

[2021-08-18 19:23] jonasbn commented on #60
Thanks @Sid-ah and @facelessuser

I have updated the documentation describing the remedy to avoid this issue, based on your input to this issue.

[2021-10-25 21:41] riccardoporreca opened #68 "PySpelling output artifact?"
First of all, thanks for the great work with this action! :clap:

This might be a tricky one, but would it be possible to offer the possibility of dumping the output from pyspelling to a file (in addition to what we see in the workflow log), to allow uploading it as artifact in workflows using this action?

[2021-10-31 08:37] jonasbn commented on #68
Hi @riccardoporreca

Let me give it some thought.

[2021-12-22 15:05] gergelytakacs opened #75 "Error after bumping from 13 to 19"
Hello there. I am experiencing the following error after bumping from 13 to 19, can you help?

[code]

Here is my config file:
`https://github.com/gergelytakacs/AutomationShield/actions/runs/1611803103/workflow`

[2021-12-22 21:55] albertvolkman commented on #75
I just resolved a similar issue for myself. It turned out that it was due to indentation. I'm thinking if you indent these lines-

https://github.com/gergelytakacs/AutomationShield/blob/master/.spellcheck.yml#L14-L19

It should (hopefully) fix it. Good luck!

[2021-12-22 22:14] facelessuser commented on #75
Yeah, Yaml is nicer to manually write compared to JSON, but it is not without some unintuitive quirks. Most of the issues I see that people have with YAML is understanding how to properly indent things under lists and such.

[2021-12-23 07:55] jonasbn commented on #75
@gergelytakacs I have create a PR (gergelytakacs/AutomationShield/pull/286) it should address the issue introduced with gergelytakacs/AutomationShield/pull/282

[2021-12-23 12:36] gergelytakacs commented on #75
@jonasbn Thank you so much for the PR and for the help to others! The thing is, the indentation was not an issue in the previous version, thus I was suprised to see the rather uninformative error message:)

[2021-12-23 12:36] #75 closed

[2021-12-23 13:47] jonasbn commented on #75
Hi @gergelytakacs

Since the action is just a wrapper for [PySpelling](https://github.com/facelessuser/pyspelling), it would require some work to get to propagate errors more naturally. Currently I just document the different errors and remedies if possible in the [Diagnostics](https://github.com/rojopolis/spellcheck-github-actions#diagnostics) section, at some point I hope to be able to dig into

[2021-12-23 17:26] gergelytakacs commented on #75
Excellent, thank you for the clarification!

On Thu, Dec 23, 2021, 14:47 Jonas Brømsø ***@***.***> wrote:

[2022-01-24 22:08] chrispat opened #79 "Latest container version failing on runners due to architecture mismatch"
@jonasbn it appears that the latest version of the spellcheck container has been published as arm64 rather than amd64 or for multiple platforms.  This issue is causing the action to fail on the GitHub Actions runners.

Can you either rollback the tags or publish an image for amd64?

[2022-01-25 06:35] jonasbn commented on #79
Oh dear, I will look at it right away and push a new image

[2022-01-25 06:56] jonasbn commented on #79
This has been fixed with [release 0.21.1](https://github.com/rojopolis/spellcheck-github-actions/releases/tag/0.21.1)

Sorry about the inconvenience, I will take action to have GitHub Actions build and publish the Docker images, to eliminate the the option of _human error_

[2022-01-25 07:18] #79 closed

[2022-01-25 07:24] jonasbn opened #80 "Implement automation of build and release process"
Issue #79 demonstrated that it is better to have a automated build and release process to eliminate human error

[2022-01-25 13:26] chrispat commented on #79
Thank you for the rapid response here, we really appreciate it.  We have integrated authentication between GitHub Actions and GitHub Container Registry.  I would recommend you move to publishing your actions container to GHCR so you can use the integrated GITHUB_TOKEN rather than a PAT.  There is a starter workflow for publishing a container to GHCR that should get you most of the way there.

[2022-01-25 14:51] jonasbn commented on #79
Hi @chrispat I will have a look at it, my problem might be that I am not the owner of the repository, just the maintainer. I will do some reading and write up my notes in #80, but I think the last time I looked at it, it was a no go.

[2022-02-23 20:56] #57 closed

[2022-03-16 16:37] xsaero00 opened #84 "Paths with spaces in source_files parameter does not work"
When files with spaces in paths are supplied to `source_files` parameter the action does not work as expected.

Partial log:
[code]
PS. Escaping spaces with backslash does not help.

[2022-03-16 19:55] jonasbn commented on #84
Thanks @xsaero00 for the issue report, I will have a look

[2022-04-04 13:00] gcattan opened #87 "Support for french"
Hi,
Is it possible to add support for french language?
Thanks!

[2022-04-04 14:07] jonasbn commented on #87
Hi @gcattan - oui!

I will have a look into adding support for French.

[2022-04-04 14:49] gcattan commented on #87
Thank you :)

[2022-04-09 09:23] jonasbn commented on #84
I have done some preliminary investigation and the challenge is that the default separator is space. I have an idea for a solution, where based on contents of the `$INPUT_SOURCE_FILES`, we do conditional splitting, so we can support the existing approach and keep backwards compatibility and secondly support quoted strings for handling paths including spaces.

I hope to be able to address this duri

[2022-04-09 19:48] #87 closed

[2022-04-09 20:03] jonasbn commented on #87
Hi @gcattan

I have just pushed release 0.23.0 to the GitHub Market place, please do not hesitate to reach out if you experience any issues.

I did a basic test on the French dictionary and this is my first (actually second) release from Apple Silicon (M1), but it seems as if I have gotten my Docker build process to work.

[2022-04-12 10:00] gcattan commented on #87
Hi @jonasbn ,

Thank you so much :) It worked as expected, this is perfect :)

[2022-05-04 05:45] jonasbn commented on #84
Hi @xsaero00 I believe I have made fix, I expect to push it live when I have done some more testing.

[2022-05-05 17:31] #84 closed, assigned to jonasbn

[2022-05-05 17:58] jonasbn commented on #84
Hi @xsaero00

Release [0.23.1](https://github.com/rojopolis/spellcheck-github-actions/tree/0.23.1) have been uploaded to the GitHub market place and should be available.

I believe this release addresses your issue, I have done some testing of different usage scenarios. If you do experience any issues, do not hesitate to reach out.

Thanks for the bug report

[2022-05-06 19:55] jonasbn commented on #84
Hi @xsaero00

There was a minor mishap with the 0.23.1 release, so a 0.23.2 was released. You should evaluate that particular release - sorry about any inconvenience

[2022-05-15 15:57] jonasbn commented on #68
Hi @riccardoporreca

I have done some experimenting and I came to a solution using `tee`.

Currently it captures all the output of the run of `pyspelling` not the action as a whole.

I am working out the details around the preservation of the generated artifact, until now to now avail.

You can see the master branch builds issue the warning:

[code]

And no artefacts are available yet.

[code]

I

[2022-05-16 07:25] riccardoporreca commented on #68
@jonasbn, thanks for looking into this!

I can have a look myself, I have quite some experience with Docker and it is not surprising the file is not found. I do not have much experience with Docker container actions but I can see how I can help out.

[2022-05-16 08:43] jonasbn commented on #68
Hi @riccardoporreca

Any assistance would be much appreciated. I am currently looking into how I can extract the generated `run-report.txt` from the Docker image so it can be made accessible as an artifact. I have been sleeping and showering on the problem and I will see if I can tweak the [Docker Extract](https://github.com/marketplace/actions/docker-extract) action to do what we need.

My curren

[2022-05-16 09:20] riccardoporreca commented on #68
@jonasbn, I can come up with something more concrete in the coming days, but overall my 0.02 $ here are that we need to produce the artifact inside the container in a mounted volume from the runner, so it is accessible after docker has run.

For completeness, the list of mounted volumes (`-v <path-on-runner>:<path-inside-container>`) is logged in the workflow run
https://github.com/rojopolis/spell

[2022-05-16 09:23] jonasbn commented on #68
Hi @riccardoporreca

I will evaluate your proposal tonight. I think you _cracked it_ 8-)

[2022-05-16 19:51] jonasbn commented on #68
Hi @riccardoporreca

I have made a successful implementation based on your guidance - thank you very much.

I will now update the documentation, so this new feature can be adopted by others.

Thank you for your contribution and patience.

Any additional feedback are of course most welcome.

[2022-05-16 21:10] riccardoporreca commented on #68
Happy to help out @jonasbn!

A couple of additional notes from my side

(1) The way I hinted at exposing `output_file` is also how you are using it in your workflow (i.e. providing the actual name of the file):
https://github.com/rojopolis/spellcheck-github-actions/blob/3b6895555735993d4aaec3275862642b618ed9fe/.github/workflows/spelling_action.yml#L23
however the way it is implemented in the entry

[2022-05-16 21:19] jonasbn commented on #68
Hi @riccardoporreca

I just saw your comments now, I wish I had seen it earlier. I believe I have addressed the issues your pointed out. I ran into them testing the implementation.

I will not release anything tonight since I am too tired, but I plan to release tomorrow.

[2022-05-17 08:17] #68 closed

[2022-06-08 06:14] jonasbn opened #100 "Clarify how Ignore code blocks in Markdown"
### Discussed in https://github.com/rojopolis/spellcheck-github-actions/discussions/99

<div type='discussions-op-text'>

<sup>Originally posted by **arivictor** June  8, 2022</sup>
Hi,

I'm looking to use your action in my pipeline. I'm running it over my markdown docs, its catching spelling mistakes very well but its also picking up issues in the example code blocks in the markdown files. To red

[2022-06-09 11:18] antonpatsev opened #101 "How spell of latest commit message ?"
Hello! I try use you github action for spell of commit message.
But it don`t spell commit message.
Please add spell of latest commit message. Thanks!

[2022-06-09 19:17] jonasbn commented on #101
Hi @antonpatsev

This GitHub action is aimed at working at repository contents.

I do however have [an experimental implementation](https://github.com/jonasbn/pre-commit-hooks#spellcheck) of an integration of [`pyspelling`](https://github.com/facelessuser/pyspelling), which is also in used by this action. The implementation is for [pre-commit](https://pre-commit.com/) and awesome framework for com

[2022-06-09 19:17] #101 closed

[2022-06-10 19:51] jonasbn commented on #100
I have updated the documentation with a tip outlining how to configure this. It is pretty basic, but if you do not know how it is not so _intuitive_

[2022-06-10 19:51] #100 closed

[2022-07-14 22:45] sxd commented on #80
@jonasbn I just added a PR #108 that may help to fix this issue, don't know if it what you have on your mind, hope it will help.

On the other hand, will also add support for arm64 since I wanted to run the image on my raspberrypi but I wasn't able to do it

[2022-07-15 08:31] jonasbn commented on #80
Hi @sxd

Thank you, I will have a look at it over the weekend.

[2022-07-15 11:55] sxd commented on #80
Hi @jonasbn

Awesome!! I'll be waiting your feedback and requests!

Regards!

[2022-08-04 06:06] proffalken opened #109 "Action uses non-standard configuration location"
In order to ensure good developer experience, we want to allow developers to run the same commands on their workstations as is run by the CI.

Unfortunately this is not possible with spellcheck-github-actions, as it relies on `.spellcheck.yaml` whereas `pyspellcheck` relies on `.pyspelling.yaml`.

This means that we either cater to the github action and tell our developers to run `pyspelling` with

[2022-08-04 09:14] jonasbn commented on #109
Hi @proffalken

Thanks for raising the issue, I will evaluate and get back to you.

[2022-08-04 09:57] jonasbn commented on #109
As stated in the initial description the default configuration file for **PySpelling** is named: `.pyspelling.yml`.

REF: [PySpelling documentation](https://facelessuser.github.io/pyspelling/#command-line-usage)

[2022-08-04 10:13] jonasbn commented on #109
Hi @proffalken

A PR would be most welcome.

Please be aware, that we might need to take into consideration both variations of YAML suffixes.

- `*.yml`
- `*.yaml`

According to the documentation, `*.yml` is used, but in [the code](https://github.com/facelessuser/pyspelling/blob/670f36b2c0925444b396546c04f5972af6d529a1/pyspelling/util/__init__.py#L169) both are supported if I am not mistaken.

How

[2022-08-25 14:28] #109 closed

[2022-10-02 09:29] jonasbn opened #121 "Problem with UTF-8 character in wordlist file"
I am observing an issue with the action in the repository [jonasbn/perl-task-date-holidays](https://github.com/jonasbn/perl-task-date-holidays)

The word: `Rezić` is reported as a spelling mistake even when listed in the word list file (`.wordslist.txt`).

REF: [revision of .wordlist.txt](https://github.com/jonasbn/perl-task-date-holidays/commit/150683d26f8dfdc07d1f97a07991b506416d0cfc)

[2022-10-02 13:31] facelessuser commented on #121
Try specifying`Rezic` in your English dictionary. It may simply be due to how ASPELL normalizes characters in an English dictionary.

[2022-10-02 13:34] jonasbn commented on #121
Thanks @facelessuser I will try that

[2022-10-02 13:47] facelessuser commented on #121
I'm kind of digging into the settings. I mainly use English words, so I don't have experience often with using some foreign words and such, so I haven't dug into all the Unicode normalization options and such. There may be an even better approach, but I may have to play around to see what that is.

[2022-10-02 14:25] facelessuser commented on #121
From the Aspell documentation:

I imagine this may simply be an issue of using certain characters within an English dictionary.

[2022-10-17 12:43] baimamboukar opened #126 "How to apply spellcheck action on all markdown files of the repo ?"
Hello...
I have successfuly integrate this action workflow in my project and It seems to be working very well 🚀!

I have several **markdown files** in different directories in my repository and I want to apply this action on all of them.
How do I go about it ?
What I mean, is having something like...
[code]

[2022-10-17 14:43] facelessuser commented on #126
I'm the author of the underlying pyspelling library which this action uses. If you are setting the config file directly, then such wild card patterns should work and is documented here https://facelessuser.github.io/pyspelling/configuration/#sources. The spellchecker action seems to provide a variable `source_files` (not `source-files`) that can be specified in the github action setup directly as

[2022-10-17 14:52] baimamboukar commented on #126
Thanks for helping ☄️

[2022-10-17 15:26] jonasbn commented on #126
Hi @baimamboukar

If you want to see an example using the PySpelling configuration, please see:

- https://github.com/jonasbn/til/blob/master/.spellcheck.yaml

Here I specify: `sources:` and both filter out and point to filename patterns, like so:

`'!_site/*.md|!osx/list_available_voices_for_speechsynthesis.md|*/*.md'`

I am closing this issue.

[2022-10-20 19:20] Zfauser opened #128 "Git submodules as wordlist?"
How would you use a git submodule as a wordlist, when I try to use it currently It always just returns that the wordlist could not be found.

[2022-10-20 20:47] jonasbn commented on #128
hi @Zfauser do you have a public repository which demonstrating this?

My experience with submodules is limited and not full fond memories.

[2022-10-20 22:50] Zfauser commented on #128
Hey, unfortunately I do not and it's not possible for me to make one of the existing repos public, sorry. What we are essentially doing though is writing code documentation which involves many things that are not recognized in the dictionary (I.e. 'const') and instead of everyone individually discovering each of these I figured having one document we all collaborated on would make sense. Do you kn

[2022-10-29 18:42] jonasbn opened #131 "Unable to build using base images python:3.11.0-slim-bullseye"
The `lxml` requirement will not build with this newer base image.

[code]

[2022-10-31 09:03] jonasbn commented on #131
REF:

- https://docs.python.org/release/3.11.0/whatsnew/changelog.html